<h2 class="recipe"> {{ recipeName }} </h2>

{{#each ingredients}}
    <li>
        {{ this }}
    </li>
{{/each}}



{{ number }}
<br>

<div>
    {{#each directions}}
        <li>
            {{ this }}
        </li>
    {{/each}}
</div>
